<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904449200684-ae9dtl6onettu56421n6ge0kn3a1k0fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904449200684-ae9dtl6onettu56421n6ge0kn3a1k0fr</string>
	<key>API_KEY</key>
	<string>AIzaSyAJCXf-bPyAMlvfdRT16H5Pc4NKR_7YoNs</string>
	<key>GCM_SENDER_ID</key>
	<string>904449200684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.articulationStudio</string>
	<key>PROJECT_ID</key>
	<string>call-speech-50a6f</string>
	<key>STORAGE_BUCKET</key>
	<string>call-speech-50a6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904449200684:ios:e73ef6ac8c3cc827e27789</string>
</dict>
</plist>